<h1 class="mat-display-1">Drone Inventory Management</h1>

<div>

  <table class="table">
    <tbody>
      <tr class="bin-row">
        <td>
          <div *ngFor="let item of shelf2">
            <div [ngClass]="{ 'bins': item['items'] }" *ngIf="item['name'] === '02.01'">
              <h4 *ngFor="let it of item['items']">{{ it }}</h4>
            </div>
            <!-- <ul *ngIf="item['name'] === '02.01'">
              <li *ngFor="let it of item['items']">
                <h3>{{ it }}</h3>
              </li>
            </ul> -->
          </div>
          <h3 class="bin">02.01</h3>

        </td>
        <td>
          <div *ngFor="let item of shelf2">
            <div [ngClass]="{ 'bins': item['items'] }" *ngIf="item['name'] === '02.02'">
              <h4 *ngFor="let it of item['items']">{{ it }}</h4>
            </div>
          </div>
          <h3 class="bin">02.02</h3>

        </td>
        <td>
          <div *ngFor="let item of shelf2">
            <div [ngClass]="{ 'bins': item['items'] }" *ngIf="item['name'] === '02.03'">
              <h4 *ngFor="let it of item['items']">{{ it }}</h4>
            </div>
          </div>
          <h3 class="bin">02.03</h3>

        </td>
        <td>
          <div *ngFor="let item of shelf2">
            <div [ngClass]="{ 'bins': item['items'] }" *ngIf="item['name'] === '02.04'">
              <h4 *ngFor="let it of item['items']">{{ it }}</h4>
            </div>
          </div>
          <h3 class="bin">02.04</h3>

        </td>
      </tr>

      <tr class="bin-row">
        <td>
          <div *ngFor="let item of shelf1">
            <div [ngClass]="{ 'bins': item['items'] }" *ngIf="item['name'] === '01.01'">
              <h4 *ngFor="let it of item['items']">{{ it }}</h4>
            </div>
          </div>
          <h3 class="bin">01.01</h3>
        </td>
        <td>
          <div *ngFor="let item of shelf1">
            <div [ngClass]="{ 'bins': item['items'] }" *ngIf="item['name'] === '01.02'">
              <h4 *ngFor="let it of item['items']">{{ it }}</h4>
            </div>
          </div>
          <h3 class="bin">01.02</h3>
        </td>
        <td>
          <div *ngFor="let item of shelf1">
            <div [ngClass]="{ 'bins': item['items'] }" *ngIf="item['name'] === '01.03'">
              <h4 *ngFor="let it of item['items']">{{ it }}</h4>
            </div>
          </div>
          <h3 class="bin">01.03</h3>

        </td>
        <td>
          <div *ngFor="let item of shelf1">
            <div [ngClass]="{ 'bins': item['items'] }" *ngIf="item['name'] === '01.04'">
              <h4 *ngFor="let it of item['items']">{{ it }}</h4>
            </div>
          </div>
          <h3 class="bin">01.04</h3>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="button-row">
    <button mat-raised-button color="primary" (click)="clearDb()">Clear Database</button>
  </div>
</div>